html, body {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  overflow-x: hidden;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", "Gill Sans", "Gill Sans MT", Helvetica, sans-serif;
  /*font-family: monospace;*/
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.025rem;
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

ul { list-style-type: square; }

/* * Wrapper */
.wrap {
  position: relative;
  width: 100%;
}

/* * Container */
.container {
  max-width: 34rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

/*
 * Masthead
 */

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  margin-bottom: 2rem;
}

.nav { text-align: right; }

.masthead a { padding: 0.2em; }

#prof {
  display: inline-block;
  margin: 1em 1em 1em 0em;
  height: 14em;
  float: left;
}

@media (max-width: 820px) {
  #prof {
    height: initial;
    width: 100%;
  }
}

#back {
  font-size: 5rem;
  padding: 0px 0.5rem 0.5rem;
  line-height: 0.75em;
  margin-right: -0.5em;
  float: left;
}


/*
 * Posts and pages
 */

.page,
.post {
  margin-bottom: 4em;
}

.page ra {
  float: right;
  font-style: italic;
  letter-spacing: 0;
  font-size: 75%;
  font-weight: 400;
  margin-top: 6px;
}

.page ra.skill {
  padding-bottom: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 38rem) {
  html { font-size: 20px; }
}
body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #b3b3b3;
  text-decoration: none;
}


/* `:focus` is linked to `:hover` for basic accessibility */
a:hover, a:focus {
  background-color: #bae;
  border-radius: 0.2em;
  border: 0rem solid;
  color: #fff;
}

h1 {
  text-decoration: none;
  font-size: 2rem;
}
h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}
h6 { text-align: center; }

blockquote {
  text-align: center;
  font-style: italic;
}


/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

strong { color: #303030; }

small { font-size: }

/* Images */
.clearfix {
  overflow: auto;
}

img {
  margin: 0.5rem;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* content style */
.post-list {
  padding: 0;
  margin-left: 0;
  line-height: normal;
  list-style: none;
}

.post-list > li {
  text-transform: lowercase;
  margin-bottom: 0px;
}

.post-meta {
  float: right;
  font-size: 16px;
  font-style: italic;
  color: #828282;
}

.post-title {
  letter-spacing: -1px;
  text-transform: lowercase;
}

@media screen and (max-width: 800px) {
.post-title { font-size: 36px; } }
.post-content { margin-bottom: 30px; }
.post-content h2 { font-size: 32px; }
@media screen and (max-width: 800px) {
.post-content h2 { font-size: 28px; } }
.post-content h3 { font-size: 26px; }
@media screen and (max-width: 800px) {
.post-content h3 { font-size: 22px; } }
.post-content h4 { font-size: 20px; }
@media screen and (max-width: 800px) {
.post-content h4 { font-size: 18px; } }
.post-header { padding-bottom: 30px; }

/* make things real snappy. like a turtle.*/

@media screen and (max-width: 900px) {
    #projects {
        margin-left: initial !important;
        max-width: 100%;
    }
}


/* rouge highlighter */
pre, code {
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  pre, code { font-size: 13px; }
}

pre.highlight {
  background-color: rgb(251, 242, 255);
  border-radius: 4px;
  overflow-x: scroll;
  padding: 10px;
}

code.highlighter-rouge {
  background-color: rgb(251, 242, 255);
  border-radius: 4px;
  padding: 2px;
}

@media (min-width: 38rem) {
  .container { max-width: 32rem; }
}
@media (min-width: 56rem) {
  .container { max-width: 36rem; }
}










/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely BORROWED?!?!?!?!??!?!?!?!??!?!?!?!? from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/* savagely stolen from the savage savage internet */
/*because-it-looks-so-good*/

.hide {
  display: none;
}
#tags {
  padding: 0.5em 0em 1em 0em;
  text-align: center;
  margin: auto;
}
#tags > .tag {
  margin: 12px 0px 12px 0;
}
.tag {
  background-color: #b3b3b3;
  color: white;
  padding: 8px;
  cursor: pointer;
  border: #fff;
  border-radius: 10px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.tag:hover {
  background-color: #bae;
  color: white;
}
.tag.active {
  box-shadow: 0px 0px 0px 2px white;
  background-color: cyan;
  color: #313131;
}
.tag.active:hover {
  color: #bae;
}
#projects {
  text-align: center;
  margin: 0px auto 0 auto;
  margin-left: -35px;
  width: 750px;
}
.project {
  border: 3px solid #fff;
  border-radius: 16px 16px 0 0;
  display: inline-block;
  padding: 0px;
  width: 240px;
  height: 240px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}
.project-image {
  border-radius: 12px;
  position: absolute;
  padding: 0px;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.project-info {
  position: absolute;
  text-align: left;
  bottom: 0px;
  width: 100%;
  height: 20px;
  opacity: 0;
  color: #313131;
  padding: 12px 24px;
  border-radius: 0 0 10px 10px;
  transition: height 100ms, opacity 100ms;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 26px;
  left: 0;
}
.project-info > h3 {
  text-decoration: underline;
}
.project-info > small {
  margin-top: 0px;
}
.project.active {
  background-color: cyan;
}
.project:hover > a > .project-info {
  height: 100%;
  opacity: 1;
}
.project-tags {
  position: absolute;
  right: 6px;
  top: 6px;
}
.project-tags > .tag {
  display: block;
  transition: opacity 100ms;
  text-align: center;
  line-height: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  opacity: 0;
}
.project:hover > .project-tags > .tag,
.project-tags > .tag.active {
  opacity: 1;
}
#project_details {
  text-align: left;
  border: 3px solid #6f664b;
  position: relative;
  top: -1px;
  padding: 8px;
  border-radius: 16px;
}
#project_details:after {
  content: '';
  position: absolute;
  height: 5px;
  background-color: #fff;
  top: -5px;
  width: 314px;
}
#project_details.c03 {
  border-top-left-radius: 0;
}
#project_details.c03:after {
  left: 0px;
}
#project_details.c13:after {
  left: 326px;
}
#project_details.c23 {
  border-top-right-radius: 0;
}
#project_details.c23:after {
  left: 652px;
}
#project_details_wrapper {
  padding: 8px;
  border-radius: 10px;
  background-color: #fff;
}
#project_details_title {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 32px;
  color: #cd0f22;
}

