<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- site info -->
    <meta name="author" content="Molly Jane Nicholas">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.desc }}">
    <title>
      {% if page.title %}
        {{ site.title | downcase }} - {{ page.title | downcase }}
      {% else %}
        {{ site.title | downcase }}
      {% endif %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="Bakery Store RSS" href="/feed.xml">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

    <!-- JS -->
    <script type="text/javascript" src="/src/js/ga.js" async></script>

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/src/img/logo.png">
    <link rel="shortcut icon" href="/src/img/favicon.ico">
    <link rel="shortcut icon" href="/src/img/favicon.ico" type="image/x-icon">


    <!-- Facebook -->
    <meta property="og:site_name"   content="{{ site.title }}"/>
    <meta property="og:description" content="{% if page.desc %} {{ page.desc }} {% else %} {{ site.desc }} {% endif %}" />
    <meta property="og:title"       content="{{ site.title }} {% if page.title %} - {{ page.title | downcase }} {% endif %}"/>
    <meta property="og:image"       content="{% if page.image %} {{ page.image }} {% else %} {{ site.image }} {% endif %}" />
  </head>
  <body>

    <div class="wrap">
      <!-- responsive masthead -->
      <div class="masthead">
        <div class="container">
          <div class="nav">
            <a href="/" title="home">home</a>
            <a href="/cv" title="cv">cv</a>
            <a href="/research">research</a> 
            <a href="/posts" title="posts">posts</a>
            <a href="https://twitter.com/FakepaperClips" target="_blank" title="twitter">twitter</a>
            
            
            <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#111;&#108;&#101;&#99;&#117;&#108;&#101;&#064;&#098;&#101;&#114;&#107;&#101;&#108;&#101;&#121;&#046;&#101;&#100;&#117;">email</a>
          </div>
        </div>
      </div>

      <div class="container">
        {{ content }}
      </div>
    </div>

  </body>
</html>
